@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textPrimary antialiased selection:bg-primary selection:text-white;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* Custom scrollbar for horizontal sections */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
